$time-active:#5332de;
$time-default:#aeb8bc;
.timeline {
    margin-top: 40px;
    position: relative;
    text-align: center;
    &:focus {
        outline: none
    }
    .entry {
        display: inline-block;
        font-size: 12px;
        text-align: center;
        position: relative;
        margin-left: 15px;
        margin-right: -3px;
        border: 0px;
        cursor: pointer;
        &:first-child {
            margin-left: 28px;
        }
        a {
            margin-left: 3px;
            color: $text_color;
            background: transparent;
            &:hover {
                text-decoration: none;
                background: transparent;
            }
        }
        &:after {
            content: '';
            display: block;
            background: $time-default;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 3px solid white;
            position: absolute;
            top: -42px;
            z-index: 1;
        }
        &.selected {
            background: transparent;
            border: 0px;
            &:after {
                background: $time_active;
            }
        }
        &:before {
            content: '';
            background: $time-default;
            width: 64px;
            height: 5px;
            position: absolute;
            top: -29px;
            margin-left: -15px;
        }
        &:hover {
            margin-left: 11px;
            background: transparent;
            border: 0px;
            &::after {
                width: 45px;
                height: 45px;
                top: -49px;
                margin-left: 0px;
            }
            &::before {
                margin-left: -11px;
            }
            a {
                margin-left: 7px;
            }
        }
        &:first-child:hover {
            margin-left: 24px;
        }
    }
}
